<div class="row">
<div class="col-md-12">
<div class="base" [ngClass]="{'noscroll': pass}">
    <div class="header"><h3>Questionnaire</h3></div>
    <div class="canvas">
        <div class="qform">
            <form #form="ngForm" novalidate>
                <div class="questionCard" *ngFor="let q of questionData; let track = index"
                     [ngClass]="{'has-error' : unchecked[track] == track && track!=0}">
                    <div class="form-group question">
                        <label>
                            <h4>
                            {{q.question}}*
                            </h4>
                        </label>
                    </div>
                    <div class="form-group">
                        <span *ngFor="let i of q.options; let even = index">
                            <li>
                                <input type="radio" name="{{track}}" value="{{i}}" id="{{i}}" required ngModel>
                              &nbsp;   <label for="{{i}}"><span style="cursor:pointer">{{i}}</span></label>
                            </li>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <button class="btn btn-block btn reset" type="reset" (click)="form.reset();formReset()">Clear</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-block submit" (click)="submitForm(form.value)">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div [ngClass]="{'black-overlay' : show}" (click)="show=false;form.reset();formReset()"></div>
<div [ngClass]="{'flex-container':show}">
  <barchart *ngIf="show" [src]="pass"></barchart>
</div>
</div>
</div>
