<div class="container">
  <div class="header"><h3>Questionnaire</h3></div>
  <div class="qform">
    <form [formGroup]="QForm" novalidate (ngSubmit)="submitForm(QForm.value)">
      <div class="questionCard" *ngFor="let q of questionData">
        <div class="form-group question"><label><h4>{{q.question}}</h4></label></div>
        <hr>
        <div class="form-group">
          <span *ngFor="let i of q.options">
             <input type="radio"  name="$index" value="i">&nbsp;&nbsp;&nbsp;&nbsp;{{i}}<br>
          </span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn-block btn-success buttn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

