/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('assets/Myriad-Pro-Light_31642.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-UltraLight';
  src: url('assets/myriad-set-pro-ultralight-5878628c2a32d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
  height: 100vh;
  width: 100vw;
  font-family: MyriadPro-Light;
}
